/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  mainScript = 'main.nf'
  config = 'conf/standard.config'

  // Workflow flags
  max_cpus = 32
  outdir = './results'
  name = false
  
  gencode_gtf = false
  
  gencode_transcript_fasta = false
  gencode_translation_fasta = false

  genome_fasta = false

  fastq_read_1 = false
  fastq_read_2 = false
  star_genome_dir = false

  sample_ccs = false
  primers_fasta = false

  hexamer = false
  logit_model = false

  sample_kallisto_tpm = false
  normalized_ribo_kallisto = false

  uniprot_fasta = false
  uniprot_protein_fasta = false
  protein_coding_only = false
  coding_score_cutoff = 0.0

  mass_spec = false
  metamorpheus_toml = false
  rescue_resolve_toml = false

  sqanti_classification = false
  sqanti_fasta = false
  sqanti_gtf = false
  lower_cpm=3
  lower_kb=1
  upper_kb=4
  min_junctions_after_stop_codon=2


  // Boilerplate options
  help = false
}

profiles {
  standard       { includeConfig params.config }
  
  test           { includeConfig 'conf/test_with_sqanti.config' }
  test_no_sqanti { includeConfig 'conf/test_no_sqanti.config' }
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'
singularity.autoMounts = true

// Define the exact container we need to use for the individual processes:
process {
    withName: isoseq3 {
        container = 'gsheynkmanlab/isoseq3'
    }
    withName: sqanti3 {
        container = 'gsheynkmanlab/sqanti3:sing'
    }
    withName: cpat {
        container = 'gsheynkmanlab/cpat:addr'
    }
    withLabel: metamorpheus {
      container = 'smithchemwisc/metamorpheus:lrproteogenomics'
    }

    withName: mass_spec_raw_convert {
        container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses'
    }
    withName: rename_cds_to_exon {
      container  = 'gsheynkmanlab/sqanti_protein:sing'
    }
    withName: sqanti_protein {
      container  = 'gsheynkmanlab/sqanti_protein:sing'
    }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

manifest {
  name = 'sheynkman-lab/Long-Read-Proteogenomics'
  author = 'Sheynkman Group and Smith Group'
  homePage = 'https://github.com/sheynkman-lab/Long-Read-Proteogenomics'
  description = 'A workflow for integrating long read RNA-seq and mass spectrometry-based proteomics data to characterize protein isoforms'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
  mainScript = params.mainScript
}
