/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = false

  orf_coord = false
  gencode_gtf = false
  sample_gtf = false
  pb_gene = false
  classification = false
  sample_fasta = false
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: orf_calling {
        container = 'gsheynkmanlab/orf_calling:dev0.2'
    }
}