/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = false

 // orf_coord = false
 // gencode_gtf = false
 // sample_gtf = false
 // pb_gene = false
//  classification = false
//  sample_fasta = false
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: generate_reference_tables {
        container = 'gsheynkmanlab/generate-reference-tables'
    }
    withName: make_gencode_database {
        container = 'gsheynkmanlab/gencode-db'
    }
    withName: isoseq3 {
        container = 'gsheynkmanlab/isoseq3'
    }
    withName: sqanti3 {
        container = 'gsheynkmanlab/sqanti3'
        // container = 'milescsmith/sqanti3'
    }
    withName: make_pacbio_6frm_gene_grouped {
        container = 'gsheynkmanlab/six-frame-translation'
    }
    withName: transcriptome_summary {
        container = 'gsheynkmanlab/transcriptome-summary'
    }
    withName: cpat {
        container = 'gsheynkmanlab/cpat:addr'
    }
    withName: orf_calling {
        container = 'gsheynkmanlab/orf_calling'
    }
    withName: generate_refined_database {
        container = 'gsheynkmanlab/refined-database-generation'
    }
    withName: make_pacbio_cds_gtf {
        container = 'gsheynkmanlab/pb-cds-gtf'
    }


}

profiles {
  test { includeConfig 'conf/executors/test.config' }
  toy { includeConfig 'conf/executors/toy.config'}
}