docker.enabled = true

process {
	
    cache = 'lenient'

    container = 'nfcore/rnaseq:1.3'

    withName: 'getAccession' {
        container = 'gcr.io/nextflow-250616/sratools'
        cpus = 8
        memory = '30 GB'
    }
    withName: 'trimming' {
        container = 'gcr.io/nextflow-250616/fastp:latest'
        cpus = 8
        memory = '31 GB'
    }
    withName: 'mapping' {
        container = 'gcr.io/nextflow-250616/hisat2index:samtools'
        cpus = 24
        memory = '60 GB'
    }
    withName: 'sortbam' {
            cpus = 8
            memory = '30 GB'
    }
    withName: 'markduplicates' {
        cpus = 8
        memory = '31 GB'
    }
    withName: 'paired_rmats' {
        container = 'gcr.io/nextflow-250616/star2index:latest'
        cpus = 16
        memory = '60 GB'
    }
    withLabel: 'postrmats' {
        container = 'gcr.io/nextflow-250616/postrmats:latest'
        cpus = 1
        memory = '2 GB'
    }
}
