/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  gencode_gtf = 'data/input/gencode.v35.annotation.gtf'
  
  gencode_transcript_fasta = 'data/input/gencode.v35.pc_transcripts.fa'
  gencode_translation_fasta = ''

  gencode_fasta = 'data/input/GRCh38.primary_assembly.genome.fa'
  sample_css = 'data/input/jurkat.codethon_toy.ccs.bam'
  primers_fasta = 'data/input/NEB_primers.fasta'

  hexamer = 'data/input/Human_Hexamer.tsv'
  logit_model = 'data/input/Human_logitModel.RData'



  // Main arguments: 
  name = 'test'
  protein_coding_only = false
  refine_cutoff = 0.0

}
