/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  

  // Input data
  gencode_gtf = 'data/test/gencode.v35.annotation.chr22.gtf'
  
  gencode_transcript_fasta = 'data/test/gencode.v35.pc_transcripts.chr22.fa'
  gencode_translation_fasta = 'data/test/gencode.v35.pc_translations.small.fa'

  gencode_fasta = 'data/test/GRCh38.primary_assembly.genome.chr22.fa'
  sample_ccs = 'data/test/jurkat.codethon_toy.ccs.bam'
  primers_fasta = 'data/test/NEB_primers.fasta'

  hexamer = 'data/test/Human_Hexamer.tsv'
  logit_model = 'data/test/Human_logitModel.RData'

  sample_kallisto_tpm = 'data/test/jurkat_gene_kallisto.tsv'
  normalized_ribo_kallisto = 'data/test/kallist_table_rdeplete_jurkat.tsv'
  // Main arguments: 
  name = 'test'
  protein_coding_only = false
  refine_cutoff = 0.0

}

/*
* TODO - this should have a full test, including proteomics data
*/