params {
    mainScript = 'protein_track_visualization.nf'
    name = 'track_visualization'
    outdir = './results'
    sample_gtf = false
    reference_gtf = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'
singularity.autoMounts = true

manifest {
  name = 'sheynkman-lab/Protein-Track-Visualization'
  author = 'Sheynkman Group and Smith Group'
  homePage = 'https://github.com/sheynkman-lab/Long-Read-Proteogenomics'
  description = 'A workflow for integrating long read RNA-seq and mass spectrometry-based proteomics data to characterize protein isoforms'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
  mainScript = params.mainScript
}