params{
    name = 'primEC'
    sample_gtf = '/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/workflows/protein_track_visualization/data/primEC_with_cds_filtered.gtf'
    reference_gtf = '/Users/bj8th/Documents/Sheynkman-Lab/Data/Reference/gencode.v35.annotation.gtf'
    pb_gene = '/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/workflows/peptide_track_visualization/data/primEC_genes.tsv'
    peptides = '/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/workflows/peptide_track_visualization/data/AllPeptides.primEC.filtered.psmtsv'
    gene_isoname = '/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/workflows/peptide_track_visualization/data/gene_isoname.tsv'
    sample_fasta = '/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/workflows/peptide_track_visualization/data/primEC_orf_refined.fasta'
}