// Parameters for CloudOS
// To use add only the flag:
// --config conf/cloudos_jurkat_merged_bam.config

params {
    gencode_gtf               = 'data/gencode.v35.annotation.canonical.gtf'
    gencode_transcript_fasta  = 'data/gencode.v35.pc_transcripts.fa.gz'
    gencode_translation_fasta = 'data/gencode.v35.pc_translations.fa.gz'
    gencode_fasta             = 'data/GRCh38.primary_assembly.genome.canonical.fa.gz'
    sample_ccs                = 'data/jurkat_merged.ccs.bam'
    primers_fasta             = 'data/NEB_primers.fasta'
    hexamer                   = 'data/Human_Hexamer.tsv'
    logit_model               = 'data/Human_logitModel.RData.gz'
    sample_kallisto_tpm       = 'data/jurkat_gene_kallisto.tsv'
    normalized_ribo_kallisto  = 'data/kallist_table_rdeplete_jurkat.tsv'
    fastq_read_1              = 'data/jurkat_r1.fastq.gz'
    fastq_read_2              = 'data/jurkat_r2.fastq.gz'
    mass_spec                 = 'data/mass_spec'
    genome_fasta              = 'data/GRCh38.primary_assembly.genome.canonical.fa.gz'
    uniprot_protein_fasta     = 'data/uniprot_reviewed_canonical_and_isoform.fasta.gz'
    star_genome_dir           = 'data/star_genome'
    rescue_resolve_toml       = 'data/Task1SearchTaskconfig_orf.toml'
    max_cpus                  = 32
    name                      = 'jurkat'
    protein_coding_only       = true
    lower_cpm                 = 3
    lower_kb                  = 1
    upper_kb                  = 4
    sqanti_classification     = 'data/jurkat_classification.txt'
    sqanti_fasta              = 'data/jurkat_corrected.fasta.gz'
    sqanti_gtf                = 'data/jurkat_corrected.gtf'
}
