// Parameters for CloudOS
// To use add only the flag:
// --config conf/huvec.config

params {
    gencode_gtf                = 'https://zenodo.org/record/5076056/files/gencode.v35.annotation.canonical.gtf'
    gencode_transcript_fasta   = 'https://zenodo.org/record/5076056/files/gencode.v35.pc_transcripts.fa.gz'
    gencode_translation_fasta  = 'https://zenodo.org/record/5076056/files/gencode.v35.pc_translations.fa.gz'
    gencode_fasta              = 'https://zenodo.org/record/5076056/files/GRCh38.primary_assembly.genome.canonical.fa.gz'

    sample_ccs                 = 's3://sheynkman-lab-lifebit/Sample-Data/HUVEC/XGSUV_20200729_S64049_PL100158448-1_D01.ccs.bam'

    primers_fasta              = 'https://zenodo.org/record/5076056/files/NEB_primers.fasta'
    hexamer                    = 'https://zenodo.org/record/5076056/files/Human_Hexamer.tsv'
    logit_model                = 'https://zenodo.org/record/5076056/files/Human_logitModel.RData.gz'
    
    sample_kallisto_tpm        = 'https://zenodo.org/record/5076056/files/jurkat_gene_kallisto.tsv'
    normalized_ribo_kallisto   = 'https://zenodo.org/record/5076056/files/kallist_table_rdeplete_jurkat.tsv'
    
    genome_fasta               = 'https://zenodo.org/record/5076056/files/GRCh38.primary_assembly.genome.canonical.fa.gz'
    uniprot_protein_fasta      = 'https://zenodo.org/record/5076056/files/uniprot_reviewed_canonical_and_isoform.fasta.gz'

    mass_spec                  = 's3://sheynkman-lab-lifebit/Sample-Data/HUVEC/Mass_Spec/HUVEC_RAW_MS'
    metamorpheus_toml          = 's3://sheynkman-lab-lifebit/Sample-Data/HUVEC/Mass_Spec/huvec_base.toml'
    rescue_resolve_toml        = 's3://sheynkman-lab-lifebit/Sample-Data/HUVEC/Mass_Spec/huvec_rescue_resolve.toml'

    max_cpus                   = 32
    name                       = 'huvec'
    protein_coding_only        = true
    lower_cpm                  = 3
    lower_kb                   = 1
    upper_kb                   = 4
    
}

process {
    withLabel: metamorpheus {
      container = 'smithchemwisc/metamorpheus:0.0.318'
    }
    withName: metamorpheus_with_sample_specific_database_rescue_resolve{
        container = 'smithchemwisc/metamorpheus:lrproteogenomics'
    }
}