// Parameters for CloudOS
// To use add only the flag:
// --config conf/cloudos.config

params {
    gencode_gtf = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.annotation.canonical.gtf'
    gencode_transcript_fasta = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.pc_transcripts.fa'
    gencode_translation_fasta = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.pc_translations.fa'
    gencode_fasta = 's3://sheynkman-lab-lifebit/Reference/GRCh38.primary_assembly.genome.canonical.fa'
    sample_ccs = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/jurkat_merged.ccs.bam'
    primers_fasta = 's3://sheynkman-lab-lifebit/Reference/NEB_primers.fasta'
    hexamer = 's3://sheynkman-lab-lifebit/Reference/Human_Hexamer.tsv'
    logit_model = 's3://sheynkman-lab-lifebit/Reference/Human_logitModel.RData'
    sample_kallisto_tpm = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/jurkat_gene_kallisto.tsv'
    normalized_ribo_kallisto = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/kallist_table_rdeplete_jurkat.tsv'
    fastq_read_1 = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/illumina_data/jurkat_r1.fastq.gz'
    fastq_read_2 = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/illumina_data/jurkat_r2.fastq.gz'
    mass_spec = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/mass_spec'
    genome_fasta = 's3://sheynkman-lab-lifebit/Reference/GRCh38.primary_assembly.genome.canonical.fa'
    uniprot_protein_fasta = 's3://sheynkman-lab-lifebit/Reference/uniprot_reviewed_canonical_and_isoform.fasta'
    star_genome_dir = 's3://sheynkman-lab-lifebit/Reference/star_index/star_genome'
    max_cpus = 32
    name = 'jurkat'
    protein_coding_only = true
}