/*
 * ---------------------------------------------------------------
 *  Nextflow config file to run jurkat without re-running sqanti
 * --------------------------------------------------------------
 * Use as follows:
 *   nextflow run main.nf --config conf/jurkat_merged_bam.config
 *
 */

params {

   // Input data
   gencode_gtf               = 'https://zenodo.org/record/5076056/files/gencode.v35.annotation.canonical.gtf'
   gencode_transcript_fasta  = 'https://zenodo.org/record/5076056/files/gencode.v35.pc_transcripts.fa.gz'
   gencode_translation_fasta = 'https://zenodo.org/record/5076056/files/gencode.v35.pc_translations.fa.gz'
   genome_fasta              = 'https://zenodo.org/record/5076056/files/GRCh38.primary_assembly.genome.canonical.fa.gz'
   hexamer                   = 'https://zenodo.org/record/5076056/files/Human_Hexamer.tsv'
   logit_model               = 'https://zenodo.org/record/5076056/files/Human_logitModel.RData.gz'
   normalized_ribo_kallisto  = 'https://zenodo.org/record/5076056/files/kallist_table_rdeplete_jurkat.tsv'
   primers_fasta             = 'https://zenodo.org/record/5076056/files/NEB_primers.fasta'
   rescue_resolve_toml       = 'https://zenodo.org/record/5076056/files/Task1SearchTaskconfig_orf.toml'
   sample_ccs                = 'https://zenodo.org/record/5076056/files/jurkat_merged.ccs.bam'
   sample_kallisto_tpm       = 'https://zenodo.org/record/5076056/files/jurkat_gene_kallisto.tsv'
   star_genome_dir           = 'https://zenodo.org/record/5076056/files/star_genome.tar.gz'
   uniprot_protein_fasta     = 'https://zenodo.org/record/5076056/files/uniprot_reviewed_canonical_and_isoform.fasta.gz'

   // Main arguments: 
   coding_score_cutoff       = 0.0
   config_profile_name       = 'Jurkat_run_without_sqanti'
   config_profile_description= 'Full Jurkat run without running Sqanti'
   fastq_read_1              = 'https://zenodo.org/record/5076056/files/jurkat_r1.fastq.gz'
   fastq_read_2              = 'https://zenodo.org/record/5076056/files/jurkat_r2.fastq.gz'
   lower_cpm                 = 3
   lower_kb                  = 1
   mass_spec                 = 'https://zenodo.org/record/5076056/files/mass_spec.tar.gz'
   max_cpus                  = 32
   metamorpheus_toml         = false
   name                      = 'jurkat'
   protein_coding_only       = true
   upper_kb                  = 4

   // Sqanti arguments included by-passes testing sqanti
   // sqanti_classification     = 'https://zenodo.org/record/5076056/files/jurkat_classification.txt'
   // sqanti_fasta              = 'https://zenodo.org/record/5076056/files/jurkat_corrected.fasta.gz'
   // sqanti_gtf                = 'https://zenodo.org/record/5076056/files/jurkat_corrected.gtf'

}
