// Parameters for CloudOS
// To use add only the flag:
// --config conf/cloudos.config

params {
    gencode_gtf = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.annotation.canonical.gtf'
    gencode_transcript_fasta = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.pc_transcripts.fa'
    gencode_translation_fasta = 's3://sheynkman-lab-lifebit/Reference/gencode.v35.pc_translations.fa'
    gencode_fasta = 's3://sheynkman-lab-lifebit/Reference/GRCh38.primary_assembly.genome.canonical.fa'
    // sample_ccs = 's3://sheynkman-lab-lifebit/Sample-Data/EC_E8/ecyse8_toy.ccs.bam'
    sample_ccs = 's3://sheynkman-lab-lifebit/Sample-Data/EC_E8/ULSC17_Gloria_Iso_031121.hifi_reads.bam'
    primers_fasta = 's3://sheynkman-lab-lifebit/Sample-Data/EC_E8/primer.fasta'
    hexamer = 's3://sheynkman-lab-lifebit/Reference/Human_Hexamer.tsv'
    logit_model = 's3://sheynkman-lab-lifebit/Reference/Human_logitModel.RData'
    genome_fasta = 's3://sheynkman-lab-lifebit/Reference/GRCh38.primary_assembly.genome.canonical.fa'
    max_cpus = 64
    name = 'ecyse8'
    protein_coding_only = true
}
