/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test_no_sqanti
 *
 * On Lifebit's CloudOS environment run with the following parameters
 *    --config conf/test_with_sqanti.config
 *    --mass_spec_sample_subset 2
 *    --cpus_med 2
 *    --cpus_high 2
 *    --max_cpus 2
 *
 */

params {
  config_profile_name = 'Test profile with Sqanti'
  config_profile_description = 'Minimal test with Sqanti and metamorphesis'
  max_cpus = 8
  
  // Input data
  gencode_gtf               = 'https://zenodo.org/record/5109695/files/gencode.v35.annotation.chr22.gtf'
  uniprot_protein_fasta     = 'https://zenodo.org/record/5109695/files/uniprot_protein.chr22.fasta'
  gencode_transcript_fasta  = 'https://zenodo.org/record/5109695/files/gencode.v35.pc_transcripts.chr22.fa'
  gencode_translation_fasta = 'https://zenodo.org/record/5109695/files/gencode_protein.chr22.fasta'
  genome_fasta              = 'https://zenodo.org/record/5109695/files/GRCh38.primary_assembly.genome.chr22.fa'
  gencode_fasta             = 'https://zenodo.org/record/5109695/files/GRCh38.primary_assembly.genome.chr22.fa'
  sample_ccs                = 'https://zenodo.org/record/5109695/files/jurkat.codethon_toy.ccs.bam'
  primers_fasta             = 'https://zenodo.org/record/5109695/files/NEB_primers.fasta'
  hexamer                   = 'https://zenodo.org/record/5109695/files/Human_Hexamer.tsv'
  logit_model               = 'https://zenodo.org/record/5109695/files/Human_logitModel.RData.gz'
  sample_kallisto_tpm       = 'https://zenodo.org/record/5109695/files/jurkat_gene_kallisto.tsv'
  normalized_ribo_kallisto  = 'https://zenodo.org/record/5109695/files/kallist_table_rdeplete_jurkat.tsv'
  // Main arguments: 
  name                      = 'jurkat_chr22'
  protein_coding_only       = false
  coding_score_cutoff       = 0.0
  fastq_read_1              = 'https://zenodo.org/record/5109695/files/test_for_ben_r1.fastq'
  fastq_read_2              = 'https://zenodo.org/record/5109695/files/test_for_ben_r2.fastq'

  lower_cpm = 3
  lower_kb = 1
  upper_kb = 4

  rescue_resolve_toml       ='https://zenodo.org/record/5109695/files/Task1SearchTaskconfig_rescue_resolve.toml'
  mass_spec                 ='https://zenodo.org/record/5109695/files/mass_spec_test.tar.gz'
}

