/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  

  // Input data
  gencode_gtf = 'https://zenodo.org/record/4420313/files/gencode.v35.annotation.chr22.gtf'
  uniprot_protein_fasta = 'https://zenodo.org/record/4420313/files/uniprot_reviewed_canonical_and_isoform.fasta'
  gencode_transcript_fasta = 'https://zenodo.org/record/4420313/files/gencode.v35.pc_transcripts.chr22.fa'
  gencode_translation_fasta = 'https://zenodo.org/record/4420313/files/gencode.v35.pc_translations.fa.gz'
  genome_fasta = 'https://hgdownload.cse.ucsc.edu/goldenpath/hg38/chromosomes/chr22.fa.gz'
  gencode_fasta = 'https://hgdownload.cse.ucsc.edu/goldenpath/hg38/chromosomes/chr22.fa.gz'
  sample_ccs = 'https://zenodo.org/record/4276422/files/jurkat.codethon_toy.ccs.bam'
  primers_fasta = 'https://zenodo.org/record/4420313/files/NEB_primers.fasta'
  hexamer = 'data/test/Human_Hexamer.tsv'
  logit_model = 'data/test/Human_logitModel.RData'

  sample_kallisto_tpm = 'data/test/jurkat_gene_kallisto.tsv'
  normalized_ribo_kallisto = 'data/test/kallist_table_rdeplete_jurkat.tsv'
  // Main arguments: 
  name = 'test'
  protein_coding_only = false
  refine_cutoff = 0.0
  fastq_read_1 = 'https://zenodo.org/record/4420313/files/test_for_ben_r1.fastq'
  fastq_read_2 = 'https://zenodo.org/record/4420313/files/test_for_ben_r2.fastq'

}

/*
* TODO - this should have a full test, including proteomics data
*/