/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test
 *
 * Test data are located here
 * https://doi.org/10.5281/zenodo.5092314
 */

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  max_cpus                   = 2


  // Input data
  gencode_fasta             = 'https://zenodo.org/record/5092314/files/GRCh38.primary_assembly.genome.chr22.fa'
  gencode_gtf               = 'https://zenodo.org/record/5092314/files/gencode.v35.annotation.chr22.gtf'
  gencode_transcript_fasta  = 'https://zenodo.org/record/5092314/files/gencode.v35.pc_transcripts.chr22.fa'
  gencode_translation_fasta = 'https://zenodo.org/record/5092314/files/gencode.v35.pc_translations.fa.gz'
  genome_fasta              = 'https://zenodo.org/record/5092314/files/GRCh38.primary_assembly.genome.chr22.fa'
  hexamer                   = 'https://zenodo.org/record/5092314/files/Human_Hexamer.tsv'
  logit_model               = 'https://zenodo.org/record/5092314/files/Human_logitModel.RData.gz'
  mass_spec                 = false
  normalized_ribo_kallisto  = 'https://zenodo.org/record/5092314/files/kallist_table_rdeplete_jurkat.tsv'
  primers_fasta             = 'https://zenodo.org/record/5092314/files/NEB_primers.fasta'
  sample_ccs                = 'https://zenodo.org/record/5092314/files/jurkat.codethon_toy.ccs.bam'
  sample_kallisto_tpm       = 'https://zenodo.org/record/5092314/files/jurkat_gene_kallisto.tsv'
  star_genome               = 'https://zenodo.org/record/5092314/files/star_genome.tar.gz'
  uniprot_protein_fasta     = 'https://zenodo.org/record/5092314/files/uniprot_reviewed_canonical_and_isoform.fasta'
  
  // Main arguments: 
  name                      = 'test'
  protein_coding_only       = false

  coding_score_cutoff       = 0.0
  fastq_read_1              = 'https://zenodo.org/record/5092314/files/test_for_ben_r1.fastq'
  fastq_read_2              = 'https://zenodo.org/record/5092314/files/test_for_ben_r2.fastq'


}

/*
* TODO - this should have a full test, including proteomics data
*/
