/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  max_cpus = 8

  


  // Input data
  gencode_gtf = 'https://zenodo.org/record/4420313/files/gencode.v35.annotation.chr22.gtf'
  uniprot_protein_fasta = '/Users/bj8th/Documents/Sheynkman-Lab/Data/test/uniprot_protein.chr22.fasta'
  gencode_transcript_fasta = 'https://zenodo.org/record/4420313/files/gencode.v35.pc_transcripts.chr22.fa'
  gencode_translation_fasta = '/Users/bj8th/Documents/Sheynkman-Lab/Data/test/gencode_protein.chr22.fasta'
  genome_fasta = 'https://zenodo.org/record/4589516/files/GRCh38.primary_assembly.genome.chr22.fa'
  gencode_fasta = 'https://zenodo.org/record/4589516/files/GRCh38.primary_assembly.genome.chr22.fa'
  sample_ccs = 'https://zenodo.org/record/4420313/files/jurkat.codethon_toy.ccs.bam'
  primers_fasta = 'https://zenodo.org/record/4420313/files/NEB_primers.fasta'
  hexamer = 'https://zenodo.org/record/4420313/files/Human_Hexamer.tsv'
  logit_model = 'https://zenodo.org/record/4420313/files/Human_logitModel.RData'

  sample_kallisto_tpm = 'https://zenodo.org/record/4420313/files/jurkat_gene_kallisto.tsv'
  normalized_ribo_kallisto = 'https://zenodo.org/record/4420313/files/kallist_table_rdeplete_jurkat.tsv'
  // Main arguments: 
  name = 'jurkat_chr22'
  protein_coding_only = false
  refine_cutoff = 0.0
  fastq_read_1 = 'https://zenodo.org/record/4420313/files/test_for_ben_r1.fastq'
  fastq_read_2 = 'https://zenodo.org/record/4420313/files/test_for_ben_r2.fastq'

  sqanti_classification = '/Users/bj8th/Documents/Sheynkman-Lab/Data/test/jurkat_chr22_classification.txt'
  sqanti_fasta = '/Users/bj8th/Documents/Sheynkman-Lab/Data/test/jurkat_chr22_corrected.fasta'
  sqanti_gtf = '/Users/bj8th/Documents/Sheynkman-Lab/Data/test/jurkat_chr22_corrected.gtf'
  lower_cpm = 3
  lower_kb = 1
  upper_kb = 4

  rescue_resolve_toml ='/Users/bj8th/Documents/Sheynkman-Lab/GitHub/Long-Read-Proteogenomics/test_data/Jurkat/MassSpec/Task1SearchTaskconfig_orf.toml'
  mass_spec='/Users/bj8th/Documents/Sheynkman-Lab/Data/test/MassSpec'
}

/*
* TODO - this should have a full test, including proteomics data
*/