// TODO - will this be kept, or discarded after LRP finished?

params {

    // toml = 'data/input/metamorpheus/Task1-SearchTaskconfig.toml'
    // mass_spec_fraction = 'data/input/metamorpheus/120426_Jurkat_highLC_Frac1.raw'
    // orf_fasta = 'data/input/metamorpheus/jurkat_orf_aggregated.fasta'
    // orf_calls = 'data/input/metamorpheus/jurkat_orf_aggregated.tsv'

    mass_spec = '/Users/bj8th/Documents/Lab-for-Proteoform-Systems-Biology/Long-Read-Proteogenomics/data/test_metamorpheus'
    orf_fasta = 'data/test_metamorpheus/smalldb.fasta'
    
    
   

    // Main arguments: 
    name = 'test_metamorpheus'
    outdir = 'results'


    t1 = ''
    t2 = ''
    t3 = ''

}

process {
    // Overwrites 
    withName: mass_spec_raw_convert {
        container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses'
    }
}