/*
 * ------------------------------------------------------
 *  Nextflow config file for running tests with sqanti 
 * -----------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 *
 * Use as follows:
 *   nextflow run sheynkman-lab/Long-Read-Proteogenomics --config conf/test_with_sqanti.config --mass_spec_sample_subset 2 --cpus_med 2 --cpus_high 2 --max_cpus 2
 *
 */

params {
 
   // Input data
   gencode_gtf               = 'https://zenodo.org/record/5111831/files/gencode.v35.annotation.chr22.gtf'
   gencode_transcript_fasta  = 'https://zenodo.org/record/5111831/files/gencode.v35.pc_transcripts.chr22.fa'
   gencode_translation_fasta = 'https://zenodo.org/record/5111831/files/gencode_protein.chr22.fasta'
   gencode_fasta             = 'https://zenodo.org/record/5111831/files/GRCh38.primary_assembly.genome.chr22.fa'
   genome_fasta              = 'https://zenodo.org/record/5111831/files/GRCh38.primary_assembly.genome.chr22.fa'
   hexamer                   = 'https://zenodo.org/record/5111831/files/Human_Hexamer.tsv'
   logit_model               = 'https://zenodo.org/record/5111831/files/Human_logitModel.RData.gz'
   normalized_ribo_kallisto  = 'https://zenodo.org/record/5111831/files/kallist_table_rdeplete_jurkat.tsv'
   primers_fasta             = 'https://zenodo.org/record/5111831/files/NEB_primers.fasta'
   sample_ccs                = 'https://zenodo.org/record/5111831/files/jurkat.codethon_toy.ccs.bam'
   sample_kallisto_tpm       = 'https://zenodo.org/record/5111831/files/jurkat_gene_kallisto.tsv'
   uniprot_protein_fasta     = 'https://zenodo.org/record/5111831/files/uniprot_protein.chr22.fasta'

   // Main arguments: 
   coding_score_cutoff       = 0.0
   config_profile_name        = 'Test profile with Sqanti'
   config_profile_description = 'Minimal test with Sqanti and metamorphesis'
   fastq_read_1              = 'https://zenodo.org/record/5111831/files/test_for_ben_r1.fastq'
   fastq_read_2              = 'https://zenodo.org/record/5111831/files/test_for_ben_r2.fastq'
   lower_cpm                 = 3
   lower_kb                  = 1
   mass_spec                 ='https://zenodo.org/record/5111831/files/mass_spec_test.tar.gz'
   max_cpus                  = 2
   metamorpheus_toml         ='NO_TOML_FILE'
   name                      ='test_jurkat_chr22_with_sqanti'
   protein_coding_only       = false
   rescue_resolve_toml       ='https://zenodo.org/record/5111831/files/Task1SearchTaskconfig_rescue_resolve.toml'
   upper_kb                  = 4
}

