params {

    mainScript = 'demultiplex.nf'
    name = 'test'

    ccs_reads_dir = false
    barcodes = false
    genome_fasta = false

    outdir = './results'
}

// Ensure that docker is enab
docker.enabled = true
// process.container = 'gsheynkmanlab/proteogenomics-base'
singularity.autoMounts = true

// Define the exact container we need to use for the individual processes:
process {
    withLabel: isoseq3 {
      container = 'gsheynkmanlab/isoseq3:demultiplex'
    }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']



manifest {
  name = 'sheynkman-lab/Long-Read-Proteogenomics'
  author = 'Sheynkman Group'
  homePage = 'https://github.com/sheynkman-lab/Long-Read-Proteogenomics'
  description = 'Demultiplexing'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
  mainScript = params.mainScript
}