/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  fasta = false
  outdir = './results'
  trans_decoder = true
  orfs = false
  seq = false
  redundant = false
  ctsv = false
  cfasta = false
  aggtsv = false
  aggfasta = false
  sample = false
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: generate_refined_database {
        container = 'gsheynkmanlab/refined-database-generation'
    }
}