/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = false

  gencode_fasta = false
  gencode_gtf = false
  sample_fasta = false
  sample_gtf = false
  fl_count = false
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: sqanti3 {
        // container = 'gsheynkmanlab/sqanti3'
        container = 'milescsmith/sqanti3'
    }
}