params {
  outdir = 'results/huvec'

  // Input data
  sample_gtf = '../data/huvec/huvec_corrected.gtf'
  refined_db_data = '../data/huvec/huvec_orf_aggregated.tsv'
  orf_calls = '../data/huvec/huvec_best_orf.tsv'
  pb_gene = '../data/huvec/pb_gene.tsv'
  peptides = '../data/huvec/huvec_psms.tsv'
  refined_db_fasta = '../data/huvec/huvec_orf_aggregated.fasta'



  // Main arguments: 
  name = 'huvec'
  include_transcript = 'yes'
}
