params {
  outdir = 'results/jurkat'

  // Input data
  sample_gtf = '../data/jurkat/jurkat_corrected.gtf'
  refined_db_data = '../data/jurkat/jurkat_orf_aggregated.tsv'
  orf_calls = '../data/jurkat/jurkat_best_orf.tsv'
  pb_gene = '../data/jurkat/pb_gene.tsv'
  peptides = '../data/jurkat/AllPeptides.psmtsv'
  refined_db_fasta = '../data/jurkat/jurkat_orf_aggregated.fasta'
  gencode_gtf = false

  // Main arguments: 
  name = 'jurkat'
  include_transcript = 'yes'
}
