params {
 

  // Input data
  sample_gtf = 'test_data/test.collapsed.gff'
  refined_db_data = 'test_data/test.orf.aggregated.tsv'
  orf_calls = 'test_data/test.orf_calls.tsv'
  pb_gene = 'test_data/test.pb_gene.tsv'
  peptides = 'test_data/test.peptides.psmtsv'
  refined_db_fasta = 'test_data/test.orf.aggregated.fasta'



  // Main arguments: 
  name = 'test'
  outdir = 'results/test'
}
