/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  outdir = './results'
  iso_annot = false
  ensg_gene = false
  sample_fasta = false
  name = false
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: make_pacbio_6frm_gene_grouped {
        container = 'gsheynkmanlab/six-frame-translation'
    }
}