/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  max_cpus = 32
  outdir = './results'
  name = false
  include_transcript = 'yes'

  sample_gtf = false
  refined_db_data = false
  orf_calls = false
  pb_gene = false
  peptides = false
  refined_db_fasta = false
  gencode_gtf = false
  mass_spec = false
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

manifest {
  name = 'sheynkman-lab/Long-Read-Proteogenomics'
  author = 'Sheynkman Group and Smith Group'
  homePage = 'https://github.com/sheynkman-lab/Long-Read-Proteogenomics'
  description = 'A workflow for delineating the Human Proteome at Isoform Resolution through Long-read Proteog'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
}

profiles {
    test {
        includeConfig 'test.config'
    }
    jurkat{
      includeConfig 'config/jurkat.config'
    }
    huvec{
      includeConfig 'config/huvec.config'
    }
}

executor {
  $sge {
      queueSize = 100
      pollInterval = '30sec'
  }

  $local {
      cpus = 2
      memory = '32 GB'
  }
}