/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags

  // Input files
  gc_gtf = false
  gc_transc_fasta = false

  outdir = './results/PG_ReferenceTables'

  // Output files
  ensg_gene = false
  enst_isoname = false
  gene_ensp = false
  gene_isoname = false
  isoname_lens = false
  gene_lens = false
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: make_reference_tables {
        container = 'gsheynkmanlab/reference-table-generation'
    }
}
