/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = false

  css_reads = false
  gencode_fasta = false
  primers_fasta = false
  max_cpus = 10
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: isoseq3 {
        container = 'gsheynkmanlab/isoseq3'
    }
}