/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = 'test_cpat'

  hexamer = '/Users/bj8th/Documents/Lab-for-Proteoform-Systems-Biology/Long-Read-Proteogenomics/data/input/Human_Hexamer.tsv'
  logit_model = '/Users/bj8th/Documents/Lab-for-Proteoform-Systems-Biology/Long-Read-Proteogenomics/data/input/Human_logitModel.RData'
  sample_fasta = '/Users/bj8th/Documents/Lab-for-Proteoform-Systems-Biology/Long-Read-Proteogenomics/results/isoseq3/toy.collapsed.fasta'  
  min_orf=50
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'gsheynkmanlab/proteogenomics-base'


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: cpat {
        container = 'gsheynkmanlab/cpat:addr'
    }
}