/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  fasta = false
  outdir = './results'
  trans_decoder = true
  
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true

// Define the exact container we need to use for the transDecoder process:
process {
    withName: run_transdecoder {
        container = 'gsheynkmanlab/transdecoder:5.5.0'
    }
    withName: print_to_check {
        container = 'gsheynkmanlab/transdecoder:5.5.0'
    }

}
