/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags

  // Input files
  gencode_gtf = false
  gencode_fasta = false

  outdir = './results'
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true

// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: generate_reference_tables {
        container = 'gsheynkmanlab/generate-reference-tables'
    }
}
